@mixin download-btn($bg-color){
    padding: 5px;
    margin-left: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0px auto;
    width: fit-content;
    margin-top: 10px;
    background-color: $bg-color;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: darken($bg-color, 20%);
   }
}
