@use "../variables.scss";
@use "../mixins";
section{
    margin-top: 60px;
}
.functions-section h1{
    color: rgb(245, 242, 236);
    font-size: 2rem;
    width: fit-content;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: variables.$primary-color;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
}
.functions-section p{
    padding: 26px;
}
.depoiments-section{
    background-color:  variables.$secondary-color;
    color: rgb(245, 242, 236);
    padding: 20px 0px 5px 0px;
    p{
        font-size: 1.4rem;
        text-align: center;
        padding: 10px;
        
    }
    .depoiment-card{
        h2{
            padding: 10px;
            text-align: center;
            background-color: variables.$primary-color;
            margin: auto;
            width: fit-content;
            border-radius: 10px;
            svg{
                color: rgb(252, 252, 35);
                width: 40px;
                height: 40px;
            }
        }
        p{
            background-color: variables.$primary-color;
            padding: 10px;
        }
    }
}
.download-section{
    background-color: variables.$primary-color;
    padding-bottom: 10px;
    h1{
        color: rgb(245, 242, 236);
        font-size: 1.5rem;
        width: fit-content;
        padding: 13px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    }
    div{
        svg{
            margin-left: 10px;
            color: white;        
        }
        
    }
    .download-button-app{
        @include mixins.download-btn(red) 
    }   
    .download-button-play{
        @include mixins.download-btn(blue) 
    }
}