.progress-circle{
    width: 300px;
    height: 300px;
    margin-left: 20px;
    display: border-box;
    border-radius: 50%;
    background-color: none;
    border: 4px solid rgb(26, 192, 26);
}
.progress-circle h2{
    text-align: center;
    color: rgb(26, 192, 26);
    font-size: 3.5rem;
}
.progress-circle p{
    box-shadow: none;
    width: 250px;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}
