@use "../variables.scss";
.btn-topo{
    width: fit-content;
    display:none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    right: 20px;
    position: fixed;
    animation: flutuar 1000ms infinite linear;
}
.btn-topo svg{
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: variables.$primary-color;
}
@keyframes flutuar{
    0%{top: 0px;}
    50%{top: 6px;}
    100%{top: 0px;}
}